.responsive-show {
    display: none;
}

@media (max-width: 768px) {
    main {
        width: 100%;
        max-width: none;
        max-width: calc(100% - 2 * var(--padding-size-l));
    }

    .responsive-hide {
        display: none;
    }
    .responsive-show {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}